:root {

  --color-bg-dark: #0b0d17;
  --color-bg-panel: rgba(255, 255, 255, 0.05);
  --color-primary: #d0d6f9;
  --color-accent: #be3c88;
  --color-accent-blue: #3c7ebe;
  --color-text-main: #ffffff;
  --color-text-muted: #a0a0a0;
  

  --glass-bg: rgba(255, 255, 255, 0.08);
  --glass-border: 1px solid rgba(255, 255, 255, 0.1);
  --glass-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  --glass-blur: blur(10px);
  

  --font-main: 'Outfit', sans-serif;
  

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 48px;
}
